.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1607619056574-7b8d3ee536b2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWVkaWNpbmVzfGVufDB8fDB8fHww'); /* Replace with the path to your background image */
    background-size: cover;
    backdrop-filter: blur(4px); /* Adjust the blur radius as needed */
  }
  
  .homein {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the background color and opacity as needed */
    border-radius: 10px;
  }
  

.home .homein .left {
    width: 12%;
    /* background-color: aqua; */
    border-radius: 5px;
    height: 100vh;
}

.home .homein .right {
    width: 80%;
    height: 100%;
    margin-left: 5px;
}

.usersidebar:hover {
    width: 270px;
}

.usersidebar {
    position: fixed;
    top: 0;
    left: 0; /* Change this to 'left' */
    width: 70px;
    height: 100vh;
    z-index: 2;
    background: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    transition: 0.6s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.usersidebar .flex-container {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px;
    white-space: nowrap; /* Add this line to prevent text wrapping */
}


.usersidebar .s1 svg {
    width: 30px;
    height: 30px;
    color: gray;
}

.usersidebar .s2 svg {
    width: 30px;
    height: 30px;
    color: rgb(255, 255, 255);
}

.usersidebar .s1:hover {
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    cursor: pointer;
    color: grey;
}

.usersidebar .s2 {
    background-color: var(--col1);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.img-wrap {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    right: 1472px;
    
}

.name {
    position: relative;
    white-space: nowrap;
    right: -55px;
}

.line {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 10px;
    border: 1px solid grey;
}

  .usersidebar .main-item:hover{
    background-color: white;
    cursor: pointer;
  }
  
  .usersidebar .main-item .fa{
    font-size: 25px;
    width: 20px;
  }
