body {
  overflow: hidden;
}

.accountsettings {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
  margin-bottom: 20px;
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}
.custom-select {
  padding: 8px; /* Adjust the padding as needed */
}
.left-column {
  flex: 1;
  margin-top: 35px;
  margin-left: 80px; /* Adjust the margin as needed */
}

.right-column {
  flex: 1;
  margin-top: 200px;
}

.change-password {
  max-width: 350px; /* Adjust the max-width as needed */
  padding: 15px; /* Adjust the padding as needed */
}

.change-password .mainbutton1 {
  padding: 8px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
}


.mainhead1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.form {
  display: grid;
  grid-gap: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 435px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.mainbutton1 {
  background-color: #2e2d88;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mainbutton1:hover {
  background-color: #0056b3;
}

.img-wrapp {
  position: absolute;
  top: 12px;
  right: 325px;
  text-align: center;
}

.image {
  width: 170px; /* Increased width */
  height: 170px; /* Increased height */
  border: 4px solid #ffffff; /* Added border */
  border-radius: 10px; /* Adjusted border-radius for a rounded look */
  object-fit: cover;
  box-shadow: 0 0 10px rgba(34, 35, 35, 0.5); /* Added box shadow for a subtle effect */
}

.password-input-container {
  position: relative;
}

.password-input-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

.password-input-container button:hover {
  color: #007bff;
}